@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.otf') format('woff2');
    font-weight: bold;
	font-style: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.otf') format('woff2');
    font-weight: lighter;
	font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.otf') format('woff2');
    font-weight: normal;
	font-style: normal;
}